# 作業 : (Kaggle)鐵達尼生存預測
https://www.kaggle.com/c/titanic

# [作業目標]
- 試著模仿範例寫法, 在鐵達尼生存預測中, 觀察標籤編碼與獨編碼熱的影響

# [作業重點]
- 回答在範例中的觀察結果
- 觀察標籤編碼與獨熱編碼, 在特徵數量 / 邏輯斯迴歸分數 / 邏輯斯迴歸時間上, 分別有什麼影響 (In[3], Out[3], In[4], Out[4])

# 作業1
* 觀察範例，在房價預測中調整標籤編碼(Label Encoder) / 獨熱編碼 (One Hot Encoder) 方式，  
對於線性迴歸以及梯度提升樹兩種模型，何者影響比較大?

解: 標籤編碼(Label Encoder) / 獨熱編碼 (One Hot Encoder) 方式 對 LR影響很大。

In [160]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy, time
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import GradientBoostingRegressor
data_path = 'data/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')

train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [161]:
#只取類別值 (object) 型欄位, 存於 object_features 中
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'object':
        object_features.append(feature)
print(f'{len(object_features)} Numeric Features : {object_features}\n')

# 只留類別型欄位
df = df[object_features]
df = df.fillna('None')
train_num = train_Y.shape[0]
df.head()

5 Numeric Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,None,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,None,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,None,S

# 作業2
* 鐵達尼號例題中，標籤編碼 / 獨熱編碼又分別對預測結果有何影響? (Hint : 參考今日範例)

解:

label Encoder: 適合有序資料、與One Hot Encoder比轉換後資料較小，資料量少使執行時間較少

One Hot Encoder: 適合無序資料、與label Encoder比轉換後資料大很多，此例中(分類問題) One Hot Encoder表現較好，資料量多使執行時間較長

In [162]:
# 標籤編碼 + 羅吉斯迴歸
df_temp = pd.DataFrame()
for c in df.columns:         
    df_temp[c] = LabelEncoder().fit_transform(df[c])
    
train_X = df_temp[:train_num]
estimator = LogisticRegression()
start = time.time()
print(f'shape : {train_X.shape}')
score = cross_val_score(estimator, train_X, train_Y, cv = 5).mean() 
print('score: ', score)
print(f'time: {time.time() - start} sec')

df_temp

shape : (891, 5)
score:  0.7788748937419742
time: 0.019002199172973633 sec

      Name  Sex  Ticket  Cabin  Embarked
0      155    1     720    185         3
1      286    0     816    106         0
2      523    0     914    185         3
3      422    0      65     70         3
4       22    1     649    185         3
5      818    1     373    185         2
6      767    1     109    163         3
7      914    1     541    185         3
8      605    0     477    185         3
9      847    0     174    185         0
10    1067    0     839    184         3
11     133    0      50     62         3
12    1070    1     733    185         3
13      38    1     459    185         3
14    1221    0     566    185         3
15     533    0     204    185         3
16     995    1     659    185         2
17    1271    1     201    185         3
18    1217    0     417    185         3
19     760    0     243    185         0
20     423    1     182    185         3
21     112    1     203    143         3
22     778    0     379    185         2
23    1111    1      54     17         3
24     917    0     541    185         3
25      64    0     454    185         3
26     371    1     238    185         0
27     404    1     123     80         3
28     885    0     385    185         2
29    1186    1     499    185         3
...    ...  ...     ...    ...       ...
1279   192    1     600    185         2
1280   915    1     541    185         3
1281   934    1      86     28         3
1282   715    0     809    127         3
1283     1    1     753    185         3
1284   437    1     757    185         3
1285   654    1     365    185         3
1286  1119    0      98     83         3
1287   246    1     645    185         2
1288   417    0      96     39         0
1289   683    1     442    185         3
1290   259    1     132    185         2
1291   132    0     626    100         3
1292   424    1     313    185         3
1293   434    0      23    185         0
1294   206    1      35    185         3
1295   413    1     116    135         0
1296   872    1     865    134         0
1297  1229    1     315    185         3
1298  1260    1      37    103         0
1299  1006    0     394    185         2
1300   936    0     883    185         3
1301   849    0     605    185         2
1302   801    0     120    102         2
1303   527    0     462    185         3
1304  1126    1     711    185         3
1305   891    0     834     64         0
1306  1046    1     872    185         3
1307  1227    1     579    185         3
1308   953    1     262    185         0

[1309 rows x 5 columns]

In [163]:
# 獨熱編碼 + 羅吉斯迴歸
"""
Your Code Here
"""
df_temp = pd.get_dummies(df)
train_X = df_temp[:train_num]
estimator = LogisticRegression()
start = time.time()
print(f'shape : {train_X.shape}')
score = cross_val_score(estimator, train_X, train_Y, cv = 5).mean() 
print('score: ', score)
print(f'time: {time.time() - start} sec')

shape : (891, 2429)
score:  0.8013346043513216
time: 0.12201690673828125 sec