# 範例 : 計程車費率預測
https://www.kaggle.com/c/new-york-city-taxi-fare-prediction

# [作業目標]
- 試著模仿範例寫法, 使用程車費率預測競賽練習時間欄位處理

# [作業重點]
- 新增星期幾(day of week)與第幾周(week of year)這兩項特徵, 觀察有什麼影響 (In[4], Out[4], In[5], Out[5])
- 新增加上年週期與周周期特徵 , 觀察有什麼影響 (In[8], Out[8], In[9], Out[9])

In [115]:
# 做完特徵工程前的所有準備
import pandas as pd
import numpy as np
import datetime
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor

data_path = 'data/'
df = pd.read_csv(data_path + 'taxi_data1.csv')

train_Y = df['fare_amount']
df = df.drop(['fare_amount'] , axis=1)
df.head()

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2011-10-21 23:54:10 UTC,-73.990580,40.761071,-73.981128,40.758634,2
1,2015-02-03 10:42:03 UTC,-73.988403,40.723431,-73.989647,40.741695,1
2,2014-03-16 18:58:58 UTC,-74.015785,40.715110,-74.012029,40.707888,2
3,2009-06-13 16:10:54 UTC,-73.977322,40.787275,-73.958030,40.778838,3
4,2014-06-12 03:25:56 UTC,-73.989683,40.729717,-73.982490,40.761887,3

In [116]:
# 時間特徵分解方式:使用datetime
df['pickup_datetime'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S UTC'))
df['pickup_year'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%Y')).astype('int64')
df['pickup_month'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%m')).astype('int64')
df['pickup_day'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%d')).astype('int64')
df['pickup_hour'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%H')).astype('int64')
df['pickup_minute'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%M')).astype('int64')
df['pickup_second'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%S')).astype('int64')
df.head()

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_year,pickup_month,pickup_day,pickup_hour,pickup_minute,pickup_second
0,2011-10-21 23:54:10,-73.990580,40.761071,-73.981128,40.758634,2,2011,10,21,23,54,10
1,2015-02-03 10:42:03,-73.988403,40.723431,-73.989647,40.741695,1,2015,2,3,10,42,3
2,2014-03-16 18:58:58,-74.015785,40.715110,-74.012029,40.707888,2,2014,3,16,18,58,58
3,2009-06-13 16:10:54,-73.977322,40.787275,-73.958030,40.778838,3,2009,6,13,16,10,54
4,2014-06-12 03:25:56,-73.989683,40.729717,-73.982490,40.761887,3,2014,6,12,3,25,56

In [117]:
# 將結果使用線性迴歸 / 梯度提升樹分別看結果
df_temp = df.drop(['pickup_datetime'] , axis=1)
scaler = MinMaxScaler()
train_X = scaler.fit_transform(df_temp)
Linear = LinearRegression()
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
GDBT = GradientBoostingRegressor()
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

Linear Reg Score : 0.02687687147563873
Gradient Boosting Reg Score : 0.7111300352592241

# 作業1
* 對照範例，試著加入星期幾 (day of week) 與第幾周 (week of year) 這兩項特徵，  
看看結果會比原本只有時間特徵分解的結果更好或更差?

In [118]:
# 加入星期幾與第幾周兩個特徵
"""
Your Code Here
"""
df['day_of_week'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%w')).astype('int64')
df['week_of_year'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%U')).astype('int64')
df.head(10)

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_year,pickup_month,pickup_day,pickup_hour,pickup_minute,pickup_second,day_of_week,week_of_year
0,2011-10-21 23:54:10,-73.990580,40.761071,-73.981128,40.758634,2,2011,10,21,23,54,10,5,42
1,2015-02-03 10:42:03,-73.988403,40.723431,-73.989647,40.741695,1,2015,2,3,10,42,3,2,5
2,2014-03-16 18:58:58,-74.015785,40.715110,-74.012029,40.707888,2,2014,3,16,18,58,58,0,11
3,2009-06-13 16:10:54,-73.977322,40.787275,-73.958030,40.778838,3,2009,6,13,16,10,54,6,23
4,2014-06-12 03:25:56,-73.989683,40.729717,-73.982490,40.761887,3,2014,6,12,3,25,56,4,23
5,2011-07-16 01:19:59,-73.997631,40.721805,-74.009757,40.709941,1,2011,7,16,1,19,59,6,28
6,2009-06-27 18:15:00,-73.954743,40.789303,-73.964755,40.773345,1,2009,6,27,18,15,0,6,25
7,2009-01-23 20:38:16,-73.982279,40.764668,-73.990323,40.756427,1,2009,1,23,20,38,16,5,3
8,2010-08-09 14:46:03,-73.965039,40.769972,-73.955365,40.779438,1,2010,8,9,14,46,3,1,32
9,2011-09-29 21:56:45,-73.986570,40.734727,-74.003757,40.741951,1,2011,9,29,21,56,45,4,39

In [119]:
# 將結果使用線性迴歸 / 梯度提升樹分別看結果
df_temp = df.drop(['pickup_datetime'] , axis=1)
train_X = scaler.fit_transform(df_temp)
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

Linear Reg Score : 0.028722639911798444
Gradient Boosting Reg Score : 0.7089962313963567

In [120]:
# 加上"日週期"特徵 (參考講義"週期循環特徵")
import math
df['day_cycle'] = df['pickup_hour']/12 + df['pickup_minute']/720 + df['pickup_second']/43200
df['day_cycle'] = df['day_cycle'].map(lambda x:math.sin(x*math.pi))
df.head()

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_year,pickup_month,pickup_day,pickup_hour,pickup_minute,pickup_second,day_of_week,week_of_year,day_cycle
0,2011-10-21 23:54:10,-73.990580,40.761071,-73.981128,40.758634,2,2011,10,21,23,54,10,5,42,-0.025450
1,2015-02-03 10:42:03,-73.988403,40.723431,-73.989647,40.741695,1,2015,2,3,10,42,3,2,5,0.333601
2,2014-03-16 18:58:58,-74.015785,40.715110,-74.012029,40.707888,2,2014,3,16,18,58,58,0,11,-0.967083
3,2009-06-13 16:10:54,-73.977322,40.787275,-73.958030,40.778838,3,2009,6,13,16,10,54,6,23,-0.888817
4,2014-06-12 03:25:56,-73.989683,40.729717,-73.982490,40.761887,3,2014,6,12,3,25,56,4,23,0.782427

In [121]:
# 將結果使用線性迴歸 / 梯度提升樹分別看結果
df_temp = df.drop(['pickup_datetime'] , axis=1)
train_X = scaler.fit_transform(df_temp)
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

Linear Reg Score : 0.028234094061821424
Gradient Boosting Reg Score : 0.7128250846092239

# 作業2
* 對照範例的日週期效果，試著參考投影片完成年週期與周週期的特徵 (也可以用你自己想到的方式)，  
看看結果會比範例中的結果更好或更差?

In [122]:
# 加上"年週期"與"周週期"特徵
"""
Your Code Here
"""
# 年週期
df['year_cycle'] = df['pickup_month']/6 + df['pickup_day']/180
df['year_cycle'] = df['year_cycle'].map(lambda x: math.cos(x * math.pi))
# 周週期
df['week_cycle'] = df['day_of_week']/3.5 + df['pickup_hour']/84
df['week_cycle'] = df['week_cycle'].map(lambda x: math.sin(x * math.pi))
df.head(100)

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_year,pickup_month,pickup_day,pickup_hour,pickup_minute,pickup_second,day_of_week,week_of_year,day_cycle,year_cycle,week_cycle
0,2011-10-21 23:54:10,-73.990580,40.761071,-73.981128,40.758634,2,2011,10,21,23,54,10,5,42,-0.025450,0.777146,-8.045978e-01
1,2015-02-03 10:42:03,-73.988403,40.723431,-73.989647,40.741695,1,2015,2,3,10,42,3,2,5,0.333601,0.453990,8.262388e-01
2,2014-03-16 18:58:58,-74.015785,40.715110,-74.012029,40.707888,2,2014,3,16,18,58,58,0,11,-0.967083,-0.275637,6.234898e-01
3,2009-06-13 16:10:54,-73.977322,40.787275,-73.958030,40.778838,3,2009,6,13,16,10,54,6,23,-0.888817,-0.974370,-2.947552e-01
4,2014-06-12 03:25:56,-73.989683,40.729717,-73.982490,40.761887,3,2014,6,12,3,25,56,4,23,0.782427,-0.978148,-5.320321e-01
5,2011-07-16 01:19:59,-73.997631,40.721805,-74.009757,40.709941,1,2011,7,16,1,19,59,6,28,0.341952,-0.694658,-7.579717e-01
6,2009-06-27 18:15:00,-73.954743,40.789303,-73.964755,40.773345,1,2009,6,27,18,15,0,6,25,-0.997859,-0.891007,-2.225209e-01
7,2009-01-23 20:38:16,-73.982279,40.764668,-73.990323,40.756427,1,2009,1,23,20,38,16,5,3,-0.770884,0.601815,-8.660254e-01
8,2010-08-09 14:46:03,-73.965039,40.769972,-73.955365,40.779438,1,2010,8,9,14,46,3,1,32,-0.662783,-0.358368,9.888308e-01
9,2011-09-29 21:56:45,-73.986570,40.734727,-74.003757,40.741951,1,2011,9,29,21,56,45,4,39,-0.512230,0.484810,-9.438833e-01
10,2009-02-09 22:26:00,-73.953742,40.774040,-73.969870,40.785605,1,2009,2,9,22,26,0,1,6,-0.398749,0.358368,9.888308e-01
11,2010-11-03 21:07:00,-73.982057,40.768790,-73.949467,40.830230,1,2010,11,3,21,7,0,3,44,-0.685183,0.891007,-3.302791e-01
12,2009-11-23 05:18:00,-73.983368,40.727033,-73.953655,40.666835,4,2009,11,23,5,18,0,1,47,0.983255,0.992546,8.841154e-01
13,2012-04-02 21:08:02,-74.005307,40.728124,-73.979042,40.741986,1,2012,4,2,21,8,2,1,14,-0.681892,-0.529919,9.937122e-01
14,2009-12-14 20:28:45,-73.970473,40.783983,-73.967860,40.762692,1,2009,12,14,20,28,45,1,50,-0.796662,0.970296,9.972038e-01
15,2014-03-30 01:52:38,-73.951788,40.714289,-73.952272,40.694019,2,2014,3,30,1,52,38,0,13,0.471910,-0.500000,3.739119e-02
16,2009-07-01 03:24:53,-73.999353,40.761494,-73.953128,40.768081,1,2009,7,1,3,24,53,3,26,0.779566,-0.857167,3.302791e-01
17,2013-08-01 01:00:25,-74.001532,40.730875,-73.978048,40.764719,1,2013,8,1,1,0,25,4,30,0.260575,-0.484810,-4.672686e-01
18,2012-03-17 10:39:05,-73.966994,40.757627,-73.967327,40.766001,1,2012,3,17,10,39,5,6,11,0.345776,-0.292372,-5.000000e-01
19,2013-11-01 20:41:00,-73.967032,40.803832,-73.973962,40.754712,2,2013,11,1,20,41,0,5,43,-0.763232,0.874620,-8.660254e-01
20,2014-04-21 17:48:35,-73.988503,40.731349,-73.979510,40.748828,1,2014,4,21,17,48,35,1,16,-0.998760,-0.777146,9.993007e-01
21,2012-01-07 17:53:00,-73.958500,40.810140,-73.978187,40.778183,4,2012,1,7,17,53,0,6,1,-0.999534,0.798636,-2.588190e-01
22,2011-06-16 15:06:00,-73.966323,40.761512,-73.957015,40.768288,1,2011,6,16,15,6,0,4,24,-0.725374,-0.961262,-8.467242e-01
23,2011-03-05 20:25:00,-73.989962,40.767048,-73.950755,40.776633,1,2011,3,5,20,25,0,6,9,-0.806445,-0.087156,-1.490423e-01
24,2012-10-08 09:09:39,-73.958430,40.781613,-73.985932,40.770163,1,2012,10,8,9,9,39,1,41,0.676715,0.615661,9.438833e-01
25,2014-05-21 18:46:00,-73.979752,40.766000,-73.985705,40.756777,1,2014,5,21,18,46,0,3,20,-0.979925,-0.987688,-2.225209e-01
26,2014-02-11 21:21:00,-73.994117,40.759050,-73.942337,40.847027,1,2014,2,11,21,21,0,2,6,-0.639439,0.325568,5.320321e-01
27,2011-07-09 23:12:00,-73.980308,40.780442,-73.972903,40.795217,5,2011,7,9,23,12,0,6,27,-0.207912,-0.777146,-3.739119e-02
28,2011-12-14 12:03:14,-73.980436,40.770263,-73.953017,40.783132,1,2011,12,14,12,3,14,3,50,-0.014108,0.970296,1.224647e-16
29,2012-02-12 12:09:15,-73.951540,40.769698,-73.966601,40.753667,1,2012,2,12,12,9,15,0,7,-0.040350,0.309017,4.338837e-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,2015-04-15 14:56:32,-73.993614,40.752052,-74.015076,40.711239,1,2015,4,15,14,56,32,3,15,-0.696330,-0.707107,-7.473009e-02
71,2013-04-10 10:24:57,-73.967104,40.772352,-73.987311,40.762798,1,2013,4,10,10,24,57,3,14,0.402946,-0.642788,7.473009e-02
72,2013-11-28 17:33:56,-73.982365,40.727756,-73.981170,40.759829,1,2013,11,28,17,33,56,4,47,-0.993539,0.999391,-8.841154e-01
73,2013-02-18 18:17:00,-73.870830,40.773645,-73.955788,40.776395,1,2013,2,18,18,17,0,1,7,-0.997250,0.207912,1.000000e+00
74,2013-06-07 07:48:56,-73.864208,40.769977,-73.974512,40.762378,1,2013,6,7,7,48,56,5,22,0.889150,-0.992546,-9.993007e-01
75,2013-07-06 06:45:00,-73.991895,40.716275,-73.958253,40.651227,2,2013,7,6,6,45,0,6,26,0.980785,-0.809017,-6.234898e-01
76,2014-09-06 19:51:00,-74.000735,40.717180,-73.957187,40.722522,1,2014,9,6,19,51,0,6,35,-0.884988,0.104528,-1.859116e-01
77,2015-03-17 04:40:50,-73.967926,40.757229,-73.952477,40.709541,1,2015,3,17,4,40,50,2,11,0.940930,-0.292372,9.308737e-01
78,2010-04-24 02:32:52,-73.978969,40.772242,-73.953363,40.767378,2,2010,4,24,2,32,52,6,16,0.618637,-0.809017,-7.330519e-01
79,2012-08-23 08:50:00,-74.005438,40.723017,-73.979063,40.762188,1,2012,8,23,8,50,0,4,34,0.737277,-0.121869,-6.801727e-01
80,2009-12-09 08:14:53,-73.986420,40.762029,-73.974746,40.757436,1,2009,12,9,8,14,53,3,49,0.831752,0.987688,1.490423e-01
81,2013-10-29 21:26:00,-73.984830,40.748307,-73.979785,40.738337,5,2013,10,29,21,26,0,2,43,-0.622515,0.857167,5.320321e-01
82,2013-04-27 11:17:32,-73.981100,40.764408,-73.982684,40.771536,1,2013,4,27,11,17,32,6,16,0.184237,-0.838671,-4.672686e-01
83,2009-10-29 22:51:13,-73.944696,40.813767,-73.968172,40.751493,1,2009,10,29,22,51,13,4,43,-0.295639,0.857167,-9.555728e-01
84,2009-10-09 00:32:00,-73.990025,40.756827,-73.988302,40.762262,2,2009,10,9,0,32,0,5,40,0.139173,0.629320,-9.749279e-01
85,2009-08-11 01:40:00,-73.995507,40.717127,-73.989165,40.730537,1,2009,8,11,1,40,0,2,32,0.422618,-0.325568,9.659258e-01
86,2014-07-25 00:32:00,-74.016420,40.710307,-73.993815,40.727050,2,2014,7,25,0,32,0,5,29,0.139173,-0.573576,-9.749279e-01
87,2013-02-07 11:55:00,-73.970587,40.758777,-73.979337,40.755132,1,2013,2,7,11,55,0,4,5,0.021815,0.390731,-7.579717e-01
88,2012-06-08 19:34:00,-73.990457,40.740255,-74.003727,40.733532,3,2012,6,8,19,34,0,5,23,-0.917060,-0.990268,-8.841154e-01
89,2009-11-26 22:25:00,-73.982915,40.781948,-73.960862,40.806947,5,2009,11,26,22,25,0,4,47,-0.402747,0.997564,-9.555728e-01
90,2013-09-09 00:53:45,-73.990965,40.756410,-73.933568,40.673154,2,2013,9,9,0,53,45,1,36,0.232385,0.156434,7.818315e-01
91,2014-12-18 22:29:41,-73.977883,40.786745,-73.960088,40.656136,2,2014,12,18,22,29,41,4,50,-0.383960,0.951057,-9.555728e-01
92,2009-06-07 11:17:35,-73.991030,40.692475,-73.997554,40.724464,1,2009,6,7,11,17,35,0,23,0.184023,-0.992546,3.998920e-01
93,2013-05-28 13:51:23,-73.984082,40.728749,-73.977880,40.729456,1,2013,5,28,13,51,23,2,21,-0.467094,-0.999391,7.579717e-01
94,2015-05-25 02:01:41,-73.982101,40.727882,-73.953987,40.778645,1,2015,5,25,2,1,41,1,21,0.506347,-0.996195,8.262388e-01
95,2013-04-24 11:00:00,-73.966688,40.763385,-73.972092,40.749392,1,2013,4,24,11,0,0,3,16,0.258819,-0.809017,3.739119e-02
96,2014-07-11 20:48:21,-73.776669,40.645243,-73.956326,40.726345,1,2014,7,11,20,48,21,5,27,-0.742122,-0.754710,-8.660254e-01
97,2012-01-25 08:06:51,-73.949179,40.777242,-73.955881,40.764040,1,2012,1,25,8,6,51,3,4,0.850696,0.573576,1.490423e-01
98,2009-09-21 07:45:00,0.000000,0.000000,0.000000,0.000000,1,2009,9,21,7,45,0,1,38,0.896873,0.358368,9.165623e-01
99,2015-05-24 19:34:47,-74.003632,40.725384,-74.004700,40.741940,1,2015,5,24,19,34,47,0,21,-0.915692,-0.994522,6.522874e-01

In [123]:
# 將結果使用線性迴歸 / 梯度提升樹分別看結果
df_temp = df.drop(['pickup_datetime'] , axis=1)
train_X = scaler.fit_transform(df_temp)
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

Linear Reg Score : 0.028858700395207527
Gradient Boosting Reg Score : 0.7151126969076396